---
---
<div class="wrapper">
	<section class="docs-top-section">
		<h2 class="docs-top-tag">
			Documentation
		</h2>
		<div class="docs-top-search">
			{% include search.html %}
		</div>
	</section>
	<section>
		<h1 class="docs-intro-title">
			Start building the metaverse
		</h1>
		<p class="docs-intro-desc">Here you will find everything you need to start building the most amazing scenes for Decentraland</p>
		<div class="docs-listing">
			<ul class="listing">
			{% assign categories = site.categories | sort %}
			{% for category in categories %}
				{% assign name = category[0] %}
				{% assign posts = category[1] %}
				{% assign size = posts | size %}
				<li>
					{% for post in posts limit:1 %}
					<a class="docs-wrapper" href="{{ post.url }}">
					{% endfor %}
						<div class="icon">{% include document-icon.html icon=item.type %}</div>
						<article>
							<div>
								<h3>{{ name | replace: "-", " " }}</h3>
								<p class="description">
									Brief description for the content. Two lines max.
								</p>
								<span class="entry-count">{{size}} entry</span>
							</div>
						</article>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% include help.html %}
	</section>
</div>