---
---
<div class="wrapper">
	<section class="docs-top-section">
		<h2 class="docs-top-tag">
			Documentation
		</h2>
		<div class="docs-top-search">
			{% include search.html %}
		</div>
	</section>
	<section>
		<h1 class="docs-intro-title">
			Start building the metaverse
		</h1>
		<p class="docs-intro-desc">Here you will find everything you need to start building the most amazing scenes for Decentraland</p>
		<div class="docs-listing">
			<ul class="listing">
			{% assign categories = site.categories | sort %}
      {% for set in site.sets %}
        {% assign series_posts = site.posts | where: "set", set.slug | sort: 'set_order' %}
        {% assign post = series_posts[0] %}
				{% assign size = series_posts | size %}
        {% if size > 0 %}
          <li>
            <a class="docs-wrapper" href="{{ post.url }}">
              <div class="icon">{% include document-icon.html icon=item.type %}</div>
              <article>
                <h3>{{ set.title | replace: "-", " " }}</h3>
                <p class="description">
                  {{ set.description }}
                </p>
                <span class="entry-count">{{size}} entries</span>
              </article>
            </a>
          </li>
        {% endif %}
			{% endfor %}
			</ul>
		</div>
		{% include help.html %}
	</section>
</div>