<div class="feedback">
  <div class="feedback-overlay"></div>
  <div class="box step-1">
    <div class="title">Was this article useful?</div>
    <div class="buttons">
      <button class="yes">Yes</button>
      <button class="no">No</button>
    </div>
  </div>
  <div class="box step-2">
    <div class="feedback-yes">
      <div class="title">Awesome!</div>
      <div class="subtitle">Anything we can do to make it even better?</div>
    </div>
    <div class="feedback-no">
      <div class="title">We're sorry!</div>
      <div class="subtitle">Please let us know how we can improve our documentation.</div>
    </div>
    <div class="form">
      <div class="textarea">
        <textarea placeholder="Write a comment"></textarea>
        <div class="mirror"></div>
      </div>
      <div class="options">
        <button class="skip">Skip Comment</button>
        <button class="send" disabled>Send Feedback</button>
      </div>
    </div>
  </div>
  <div class="box step-3">
    <div class="title">Thank you!</div>
    <div class="subtitle">Your feedback helps us improve everyone's experience in Decentraland.</div>
  </div>
  <div class="links">
    Have a suggestion?
    <a href="https://github.com/decentraland/documentation/edit/master/{{ page.path }}" rel="nofollow" target="_blank">Edit this doc on GitHub</a>
  </div>
</div>
