<section class="help-section">
  <h1 class="help-intro-title">
    Need more help?
  </h1>
  <ul class="help-listing">
    <li>
      <a href="https://discord.gg/k5ydeZp" target="_blank">
        <h3>Community Chat</h3>
        <p class="description">
            At Discord, you can share your questions, insights, and creations.
        </p>
      </a>
    </li>
    <li>
      <a href="https://decentraland.us15.list-manage.com/subscribe?u=6f74047a4693dbc82dc4f3131&id=da075b1985" target="_blank">
        <h3>Mailing List</h3>
        <p class="description">
          Subscribe to our mailing list to get notified of the latest updates of the project.
        </p>
      </a>
    </li>
    <li>
      <a href="https://t.me/DecentralandTG" target="_blank">
        <h3>Telegram</h3>
        <p class="description">
           Reach out to us through our Telegram channel.
        </p>
      </a>
    </li>
  </ul>
</section>
