<section class="help-section">
  <h1 class="help-intro-title">
    Need any help?
  </h1>
  <p class="help-intro-desc">TBD TBD TBD TBD</p>
  <ul class="help-listing">
    <li>
      <a href="">
        <h3>Support</h3>
        <p class="description">
          TBD TBD TBD TBDB rief description for the content. Two lines max.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h3>Mailing List</h3>
        <p class="description">
          TBD TBD TBD TBD Brief description for the content. Two lines max.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h3>Chat with us</h3>
        <p class="description">
          TBD TBD TBD TBD Brief description for the content. Two lines max.
        </p>
      </a>
    </li>
  </ul>
</section>