<script>
  var color = {{ include.accent_color | jsonify }};

  if (color) {
    var rules = [
      'a { color: $; }',
      '.override-color-set { color: $ !important }',
      '.index-trigger { color: $ }',
      '.tutorial-main a { color: $ }',
      '.tutorial-content ul li:before { color: $ }',
      '.back-to-docs svg #icon { fill: $ }',
      '.index-trigger svg #shape { fill: $ }',
      '.copy-code .codeblock-btn { color: $ }',
      '.copy-code .codeblock-btn svg g path.main { fill: $ }',
      '.sidebar li.active .sidebar-h3 { color: $ }',
      '.sidebar .active svg .main { fill: $ }',
      '.sidebar .dropdown svg .main { fill: $ }',
    ]

    var style = $('<style>')

    style.text(rules.map(function ($) { return $.replace('$', color) }).join('\n'))

    $(function () {
      $('body').append(style)
    })
  }
</script>
