.copy-code {
  background: $docs_medium_grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  height: 44px;

  .codeblock-btn {
    color: #f04;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    font-family: $base-font-family;
    padding: 0;
    outline: none;
    display: flex;
    border: none;
    background: transparent;
    width: 90px;

    &::before {
      content: "";
      background: url("../images/copy-code.svg#copy") no-repeat center center;
      display: inline-block;
      margin: 1px 8px 0 0;
      height: 16px;
      width: 14px;
      transition: all 200ms linear;
    }

    &.copied::before {
      background-image: url("../images/copy-code.svg#copied");
    }
  }
}
