.copy-code {
  background: #f2f2f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  height: 44px;

  .codeblock-btn {
    color: #ff0044;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    font-family: $base-font-family;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    height: 100%;
    text-transform: uppercase;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &::-moz-focus-inner {
      border: 0;
    }

    span {
      transition: opacity $default-transition, transform $default-transition;
      white-space: nowrap;
      display: flex;
      align-items: center;
      user-select: none;

      svg {
        margin-right: 8px;
        width: 14px;
      }

      &.status-copy {
        opacity: 1;
        transform: translate(0, 0);
      }

      &.status-copied {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate(16px, 0);
        justify-content: center;
      }
    }

    &.copied {
      .status-copy {
        opacity: 0;
        transform: translate(-16px, 0);
      }

      .status-copied {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
