.copy-code {
  background: #f2f2f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  height: 44px;

  .codeblock-btn {
    color: #ff0044;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    font-family: $base-font-family;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    position: relative;
    width: 110px;
    height: 100%;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;

    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 200ms linear;
      white-space: nowrap;
      display: flex;
      align-items: center;

      svg {
        margin-right: 8px;
        width: 14px;
      }

      &.status-copy {
        opacity: 1;
      }

      &.status-copied {
        opacity: 0;
      }
    }

    &.copied {
      .status-copy {
        opacity: 0;
      }

      .status-copied {
        opacity: 1;
      }
    }
  }
}
