.copy-code {
  background: #f2f2f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  height: 44px;

  .codeblock-btn {
    color: #ff0044;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    font-family: $base-font-family;
    padding: 0;
    outline: none;
    display: flex;
    border: none;
    background: transparent;
    position: relative;
    width: 70px;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: -22px;
      top: 1px;
      height: 16px;
      width: 14px;
      transition: opacity 200ms linear;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &::before {
      background-image: url("../images/copy-code-1.svg");
      opacity: 1;
    }

    &::after {
      background-image: url("../images/copy-code-2.svg");
      opacity: 0;
    }

    &.copied {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}
