.docs-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .docs-top-search {
    display: none;
    @media #{$mid-point} {
      display: block;
    }
    .docs-top-languages{
      display:inline-block;
      margin-right: 15px;
      a{
        text-decoration: none;
        color: #0A0F1F;
      }
    }
    form{
      display:inline-block;
    }
  }
}

.docs-top-tag {
  position: relative;
  padding: 0 0 0 40px;
  margin: 24px 0 48px;
  font-size: 22px;
  line-height: 32px;
  color: $docs_primary_black;
  text-transform: capitalize;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 32px;
    margin: 0 16px 0 0;
    background-image: url('/images/icon-docs.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  @media #{$mid-point} {
    margin: 32px 0;
  }

  @media #{$desktop} {
    margin: 24px 0 48px;
  }
}

.docs-intro-title {
  margin: 0 0 8px;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #0a0f1f;
}

.docs-intro-desc {
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #7d8499;
}

.docs-listing {
  .listing {
    display: flex;
    flex-direction: column;

    @media #{$mid-point} {
      flex-direction: row;
      // justify-content: space-between;
      margin: 0 -12px;
    }

    li {
      margin: 12px 0;

      @media #{$mid-point} {
        flex: 0 0 33.33%;
        padding: 0 12px;
      }
    }

    // temporal implementation of bg colors
    li:nth-child(1n+1) .icon { background-color: $docs_highlight_1; }
    li:nth-child(2n+2) .icon { background-color: $docs_highlight_2; }
    li:nth-child(3n+3) .icon { background-color: $docs_highlight_3; }
    li:nth-child(4n+4) .icon { background-color: $docs_highlight_4; }
    li:nth-child(5n+5) .icon { background-color: $docs_highlight_5; }
    li:nth-child(6n+6) .icon { background-color: $docs_highlight_6; }

    .docs-wrapper {
      display: flex;
      flex-direction: column;
      padding: 0;
      border-radius: 8px;
      box-shadow: 0 16px 32px 0 rgba(0,0,0,0.12);
      background: #FFFFFF;
      overflow: hidden;
    }

    .icon {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
      min-height: 180px;
    }

    article {
      padding: 20px 24px 44px;
      flex: 1;
      position: relative;
    }

    h3 {
      margin-bottom: 4px;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: normal;
      color: #0a0f1f;
      color: $docs_primary_black;
    }

    p {
      margin-bottom: 24px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: $docs_primary_black;
    }

    .entry-count {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #7d8499;
      position: absolute;
      bottom: 20px;
      left: 24px;
    }
  }
}