.feedback {
  padding: 48px 0;
  position: relative;

  .box {
    border: solid 1px rgba(#5c5c6e, 0.2);
    border-radius: 8px;
    padding: 24px 30px;
    margin-bottom: 16px;
    text-align: center;
    position: relative;
    background-color: $white-color;
  }

  .feedback-overlay {
    background: rgba(0, 0, 0, 0.16);
    position: fixed;
    pointer-events: none;
    z-index: 40;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity $default-transition;
    -webkit-tap-highlight-color: transparent;
  }

  &.yes {
    .feedback-no {
      display: none;
    }
  }

  &.no {
    .feedback-yes {
      display: none;
    }
  }

  @media #{$mid-point} {
    .step-1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }

    .step-2 {
      text-align: left;
    }
  }

  .step-2,
  .step-3 {
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: transform $default-transition, opacity $default-transition;
  }

  .step-2 {
    border: none;
    z-index: 40;
    transform: translate(0, -16px);
    top: 10px;
  }

  .step-3 {
    top: 28px;
  }

  &.sending {
    .feedback-overlay {
      pointer-events: auto;
      opacity: 1;
    }

    .step-2 {
      opacity: 1;
      pointer-events: auto;
      transform: translate(0, 0);
    }
  }

  &.sent {
    .step-1,
    .step-2 {
      opacity: 0;
      pointer-events: none;
    }

    .step-3 {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .links {
    font-size: 15px;
    line-height: 1.6;
    text-align: center;

    @media #{$mid-point} {
      text-align: right;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 14px;
    margin: 16px auto 0;
    max-width: 320px;

    @media #{$mid-point} {
      margin: 0;
    }

    button {
      -webkit-appearance: none;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 6px;
      font-weight: 500;
      font-size: 13px;
      padding: 8px 40px;
      text-transform: uppercase;
      transition: background-color $default-transition;

      _:-ms-lang(x),
      & {
        font-weight: 600;
      }

      &.no {
        background-color: #f2f2f5;
        color: $base-font-color;

        &:hover {
          background-color: #e8eaed;
        }
      }

      &.yes {
        background-color: $base-font-color;
        color: $white-color;
      }
    }
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.3px;
    color: $base-font-color;

    _:-ms-lang(x),
    & {
      font-weight: 600;
    }
  }

  .subtitle {
    padding-top: 4px;
  }

  .form {
    padding-top: 24px;
  }

  .textarea {
    border-bottom: transparent 2px solid;
    margin-bottom: 12px;
    position: relative;
    text-align: left;

    .mirror,
    textarea {
      display: block;
      padding: 10px 0;
      white-space: pre-wrap;
      word-break: break-all;
      word-wrap: break-word;
      min-height: 44px;
      font-size: 15px;
      line-height: 1.6;
      color: $base-font-color;
      font-family: $base-font-family;
      word-spacing: normal;
      letter-spacing: normal;
    }

    .mirror {
      pointer-events: none;
      visibility: hidden;
    }

    textarea {
      border: none;
      box-shadow: none;
      outline: 0;
      overflow: hidden;
      resize: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;

      &::placeholder {
        color: #5c5c6e;
      }
    }
  }

  .options {
    display: flex;
    justify-content: space-between;

    button {
      background-color: transparent;
      -webkit-appearance: none;
      cursor: pointer;
      outline: none;
      border: none;
      font-size: 15px;
      font-weight: 500;
      padding: 0;

      _:-ms-lang(x),
      & {
        font-weight: 600;
      }

      &:hover:not([disabled]) {
        text-decoration: underline;
      }

      &[disabled] {
        color: #5c5c6e;
        cursor: default;
      }
    }
  }
}
