footer {
  margin: 48px 0;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.1px;
  color: #5c5c6e;
  text-align: center;

  @media #{$desktop} {
    margin-bottom: 0;
    padding: 10px 0;
  }

  .footer-wrapper {
    position: relative;
    max-width: 1124px;
    padding: 0 15px;
    margin: 0 auto;

    @media #{$desktop} {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 30px;
    }
  }

  .lang-nav-wrapper {
    @media #{$mid-point} {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
    @media #{$desktop} {
      margin-bottom: 0;
    }
  }

  .social-copyright-wrapper {
    @media #{$desktop} {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .edit-footer {
    text-align: center;
    margin: 0;
  }

  .copyright {
    margin: 0;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover svg {
      fill: #f05;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .footer-links {
    padding: 0;
    list-style: none;
    margin: 0 0 12px;

    @media #{$desktop} {
      margin: 0;
      margin-right: 24px;
      margin-top: 2px;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  svg {
    fill: #5c5c6e;
    position: relative;
    top: 5px;
    transition: fill 200ms ease;

    @media #{$desktop} {
      top: initial;
      max-height: 18px;
    }
  }

  .footer-lang-selector {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;

    @media #{$mid-point} {
      margin-bottom: 0;
      margin-right: 16px;
    }

    select {
      margin: 0;
      border: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.1px;
      color: $docs_primary_black;
      background-color: transparent;
      outline: none;

      _:-ms-lang(x),
      & {
        font-weight: 600;
      }
    }

    option {
      padding: 0;
    }
  }

  .lang-flag {
    border-radius: 100%;
    width: 16px;
    height: 16px;
    background: no-repeat center center;
    margin-right: 4px;

    &.english {
      background-image: url(../images/flag-english.svg);
    }

    &.chinese {
      background-image: url(../images/flag-chinese.svg);
    }
  }

  .footer-nav {
    padding-bottom: 40px;

    @media #{$mid-point} {
      padding-bottom: 0;
    }

    ul {
      line-height: 32px;
      max-width: 320px;
      margin: 0 auto;

      @media (min-width: 500px) {
        max-width: none;
      }
    }

    li {
      margin: 0 10px;
      display: inline-block;
    }

    a {
      color: #5c5c6e;

      &:hover {
        color: #f05;
      }
    }
  }
}
