@media #{$mid-point} {
	.show_hero_search header nav form {
		display: none;
	}

	.show_hero_search .hero_search {
		display: block;
	}
}

header {

  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);

  -webkit-backdrop-filter: blur(20px);
  z-index: 9999;
  top: 0;
  width: 100%;
  position: fixed;

  min-height: 66px;

	background: $header-color;

	form {
		position: relative;

		input[type=search] {
			box-sizing: border-box;
			width: 100%;
		}
	}

	.top-bar {
		@media #{$mid-point} {
			display: flex;
		}

    .logo-name {
      display: inline-block;
      vertical-align: top;
      margin-top: 23px;
      font-size: 18px;
      margin-left: 10px;
      font-family: "Source Sans Pro",Helvetica,sans-serif;
      font-weight: 700;
    }

		.logo {
			a {
				display: block;
				line-height: 0;
			}

			svg {
				width: 46px;
				height: 46px;
			}
		}

		form svg {
			fill: #eee;
		}
	}

	nav {
    text-align: right;

		@media #{$mid-point} {
			flex: 1;
			margin: 0 0 0 10px;
			display: block;

			form {
				position: absolute;
				right: 25px;
				top: 4px;
				text-align: right;
			}

			input[type="search"] {
				max-width: 300px;
			}
		}
		display: none;

		input[type="search"] {
			width: 100%;
			padding: 5px 10px;
		}

		svg {
			position: absolute;
			top: 6px;
			right: 7px;
			width: 25px;
			cursor: pointer;
		}

		a {
			color: #90949C;
			text-decoration: none;
			display: block;
      padding: 20px 0;

      font-variant: all-small-caps;

			@media #{$mid-point} {
				display: inline-block;
				padding: 12px 0 19px;
				margin: 0 15px;
				border-bottom: 2px solid rgba(255, 255, 255, 0)
			}

			&.active, &.active:hover {
				border-bottom-color: $action-color;
			}

			&:hover {
				text-decoration: none;
				color: #666;
				@media #{$mid-point} {
					border-bottom-color: rgba(255, 255, 255, .1);
				}
			}
		}
	}
}

.show_hero_search header {
  position: relative;
}

.top-bar {
  padding: 10px 10px 0;
}

.nav-open header nav {
	display: block;
}

.nav-toggle {
	position: absolute;
	right: 25px;
	font-size: 1.6em;
	line-height: 1em;
	text-decoration: none;
	top: 18px;

	@media #{$mid-point} {
		display: none;
	}
}

.hero_search {
	display: none;
	text-align: center;
	flex: 0 0 100%;
	padding: 0px 0 30px 0;

	form {
		position: relative;
		max-width: 800px;
		margin: 0 auto;
		padding: 20px 0;

		svg {
			fill: #eee;
			position: absolute;
			top: 27px;
			right: 12px;
			display: inline-block;
			width: 36px;
			height: 40px;
			cursor: pointer;
		}
	}

	h1 {
		// font-size: 2.4em;
	}

	input[type=search] {
		margin: 0;
		color: #555;
		padding: 15px;
		font-size: 1.1em;
	}
}
