header {
  padding-bottom: 12px;
  border-bottom: solid 1px rgba(92, 92, 110, 0.16);

  .topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 0;
  }

  .logo {
    width: 36px;
    height: 36px;
    margin-right: 16px;
  }

  .dropdown-trigger {
    font-size: 13px;
    font-weight: 700;
    color: #0a0f1f;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    svg {
      display: inline-block;
      transition: transform 150ms linear;
      width: 10px;
      height: 6px;
      margin-left: 8px;
    }

    &.open svg {
      transform: rotate(180deg);
    }
  }

  nav {
    position: relative;
  }

  .wrapper {
    background: white;
    z-index: 1;
  }

  .dropdown-overlay,
  .search-overlay {
    background: rgba(0, 0, 0, 0.16);
    position: fixed;
    pointer-events: none;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 300ms ease;
    -webkit-tap-highlight-color: transparent;

    &.open {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .dropdown-content {
    overflow: hidden;
    transition: transform 300ms ease, opacity 300ms ease;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    background: white;
    width: 100vw;
    z-index: 11;
    top: 64px;
    left: -15px;
    right: 0;
    transform: translate(0, -10%);
    padding-bottom: 12px;
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12);

    &.open {
      pointer-events: auto;
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  ul.menu {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      height: 56px;
      margin: 0;
      list-style-type: none;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 12px 15px 12px 67px;
      color: #0a0f1f;
      text-transform: uppercase;
      font-size: 13px;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &.active {
        background-color: #f5f5f5;
      }

      &.active {
        font-weight: 700;
      }
    }
  }
}

.header_search {
  height: 38px;
  background-color: white;
  z-index: 20;

  form {
    display: flex;
    position: relative;
    justify-content: space-between;

    svg {
      fill: #eee;
      position: absolute;
      top: 50%;
      left: 14px;
      display: inline-block;
      cursor: pointer;
      transform: translateY(-50%);
    }
  }

  input[type="search"] {
    margin: 0;
    padding: 8px 10px 8px 40px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #5c5c6e;
    background-color: $docs_medium_grey;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;

    &::placeholder {
      color: #5c5c6e;
    }
  }

  .search-results {
    background: white;
    z-index: 10;
    position: absolute;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    width: 100%;

    transition: transform 300ms ease, opacity 300ms ease;
    pointer-events: none;
    opacity: 0;
    transform: translate(0, -10%);

    &.open {
      pointer-events: auto;
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

@media #{$tablet} {
  .header_search {
    input[type="search"] {
      width: 280px;
    }
  }

  header {
    padding-bottom: 0;

    .wrapper {
      display: flex;
      align-items: center;
    }

    nav {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }
}

@media #{$mid-point} {
  header {
    .logo {
      margin-right: 12px;
    }

    .dropdown-overlay.open {
      pointer-events: none;
      opacity: 0;
      transition: none;
    }

    .dropdown-trigger {
      display: none;
    }

    .dropdown-content {
      margin: 0;
      pointer-events: auto;
      opacity: 1;
      position: relative;
      padding-bottom: 0;
      width: auto;
      top: 0;
      left: 0;
      background: transparent;
      transform: translate(0, 0);
      transition: unset;
      box-shadow: none;
    }

    ul.menu {
      li {
        display: inline-block;
      }

      a {
        padding: 0 12px;
        color: #7d8499;

        &:hover,
        &.active {
          background-color: transparent;
          color: #0a0f1f;
        }
      }
    }
  }
}

@media #{$desktop} {
  .header_search {
    input[type="search"] {
      width: 320px;
    }
  }
}
