header {
  border-bottom: solid 1px rgba(92, 92, 110, 0.16);

  .topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 0;
  }

  .logo {
    width: 36px;
    height: 36px;
    margin-right: 16px;
  }

  .dropdown-trigger {
    font-size: 13px;
    font-weight: 700;
    color: #0a0f1f;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    svg {
      display: inline-block;
      transition: transform 150ms linear;
      width: 10px;
      height: 6px;
      margin-left: 8px;
    }

    &.open svg {
      transform: rotate(180deg);
    }
  }

  nav {
    position: relative;
  }

  .wrapper {
    background: white;
    z-index: 1;
    padding-bottom: 12px;
  }

  .dropdown-overlay,
  .search-overlay-mobile,
  .search-overlay-desktop {
    background: rgba(0, 0, 0, 0.16);
    position: fixed;
    pointer-events: none;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 300ms ease;
    -webkit-tap-highlight-color: transparent;

    &.open {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .search-overlay-desktop {
    display: none;
  }

  .dropdown-content {
    overflow: hidden;
    transition: transform 300ms ease, opacity 300ms ease;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    background: white;
    width: 100vw;
    z-index: 21;
    top: 64px;
    left: -15px;
    right: 0;
    transform: translate(0, -5%);
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12);

    &.open {
      pointer-events: auto;
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .menu {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      height: 56px;
      margin: 0;
      list-style-type: none;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 12px 15px 12px 67px;
      color: #0a0f1f;
      text-transform: uppercase;
      font-size: 13px;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &.active {
        background-color: #f5f5f5;
      }

      &.active {
        font-weight: 700;
      }
    }
  }
}

.header_search {
  height: 38px;
  background-color: white;
  z-index: 20;

  form {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
  }

  svg.search-icon {
    fill: #eee;
    position: absolute;
    top: 50%;
    left: 14px;
    display: inline-block;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .close {
    border: none;
    -webkit-appearance: none;
    background-color: transparent;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    cursor: pointer;
    padding: 0;
    outline: none;
    transition: opacity 300ms ease;
    opacity: 0;
    pointer-events: none;
  }

  input[type="search"] {
    margin: 0;
    padding: 0 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #5c5c6e;
    background-color: $docs_medium_grey;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;

    &::placeholder {
      color: #5c5c6e;
    }
  }

  .search-results {
    background: white;
    z-index: 10;
    position: absolute;
    padding: 0;
    margin: 0;
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    width: 100%;
    font-size: 15px;
    transition: transform 300ms ease, opacity 300ms ease;
    pointer-events: none;
    opacity: 0;
    transform: translate(0, -5%);
    color: #5c5c6e;
    top: 114px;

    li {
      margin: 0;
      list-style-type: none;

      &.selected a {
        background-color: #f5f5f5;
      }

      &.more-results a {
        color: #ff2d55;
        text-transform: uppercase;
        text-align: center;
        border-top: $docs_medium_grey 1px solid;
        font-size: 13px;
        padding: 15px 16px;
      }
    }

    a {
      color: #0d0d17;
      display: block;
      padding: 20px 16px;
    }

    strong {
      color: #0d0d17;
      font-weight: 500;
    }

    .title,
    .description {
      display: block;
    }

    .title {
      font-weight: 500;
    }
  }

  &.open {
    .close {
      opacity: 1;
      pointer-events: auto;
    }

    .search-results {
      pointer-events: auto;
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

@media #{$tablet} {
  .header_search {
    input[type="search"] {
      width: 280px;
    }

    .search-results {
      top: 64px;
    }
  }

  header {
    .wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 0;
    }

    nav {
      display: flex;
      align-items: center;
      flex-grow: 1;
      background: white;
      z-index: 21;
    }
  }
}

@media #{$mid-point} {
  .header_search {
    input[type="search"] {
      width: 420px;
      transition: background-color 300ms ease;
    }

    &.open {
      input[type="search"] {
        background-color: $white-color;
        border-radius: 6px 6px 0 0;
        border-bottom: $docs_medium_grey 1px solid;
      }
    }

    .search-results {
      border-radius: 6px;
      left: auto;
      right: 30px;
      width: 420px;
      top: 12px;
      padding-top: 40px;
      overflow: hidden;
    }
  }

  header {
    .search-overlay-mobile {
      display: none;
    }

    .search-overlay-desktop {
      display: block;
    }

    .dropdown-content {
      left: -30px;
    }

    .menu a {
      padding-left: 82px;
    }

    nav {
      z-index: auto;
    }
  }
}

@media (min-width: 960px) {
  header {
    .logo {
      margin-right: 12px;
    }

    .dropdown-overlay.open {
      pointer-events: none;
      opacity: 0;
      transition: none;
    }

    .dropdown-trigger {
      display: none;
    }

    .dropdown-content {
      margin: 0;
      pointer-events: auto;
      opacity: 1;
      position: relative;
      width: auto;
      top: 0;
      left: 0;
      background: transparent;
      transform: translate(0, 0);
      transition: unset;
      box-shadow: none;
    }

    .menu {
      li {
        display: inline-block;
      }

      a {
        padding: 0 12px;
        color: #7d8499;

        &:hover,
        &.active {
          background-color: transparent;
          color: #0a0f1f;
        }
      }
    }
  }
}
