.home {
  section {
    padding-top: 44px;
  }

  h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.24;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  h2 {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.53;
    letter-spacing: -0.2px;
  }
}
