.wrapper {
  position: relative;
	max-width: 1124px;
  padding: 0 15px;
	margin: 0 auto;
	@media #{$mid-point} {
		padding: 0 30px;
	}
}

.logo {
	img {
		height: 30px;
	}
}

.content {
	background: #fff;
	// padding: 120px 0 60px;
	padding: 72px 0 60px;

}

.show_hero_search .content {
  padding: 0 0 60px;
}


dt, h2 {
	a.header-link {
		text-decoration: none;
		color: #ccc;
		opacity: 0;
		transition: opacity ease .2s,color ease .2s;
		vertical-align: bottom;
		margin: 0 0 0 5px;

		&:hover {
			color: $link-color;
		}
	}

	&:hover a {
		opacity: 1;
	}
}

.video_wrapper {
	position: relative;
	padding-bottom: 59.5%;
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}