.wrapper {
  max-width: 1096px;
  padding: 0 16px;
  margin: 0 auto;

  @media #{$mid-point} {
    padding: 0 48px;
  }

  @media #{$desktop} {
    padding: 0 16px;
  }
}

main {
  flex-grow: 1;
}

table {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  color: #5c5c6e;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(#5c5c6e, 0.2);
  padding: 12px 20px 12px 0;
}

td {
  padding: 18px 20px 18px 0;
  border-bottom: 1px solid rgba(#5c5c6e, 0.2);
}

.content {
  background: #fff;
  padding: 100px 0 60px;
}

.show_hero_search .content {
  padding: 0 0 60px;
}

dt,
h2 {
  a.header-link {
    text-decoration: none;
    color: #ccc;
    opacity: 0;
    transition: opacity ease 0.2s, color ease 0.2s;
    vertical-align: bottom;
    margin: 0 0 0 5px;

    &:hover {
      color: $link-color;
    }
  }

  &:hover a {
    opacity: 1;
  }
}

.video_wrapper {
  position: relative;
  padding-bottom: 59.5%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.docs-top-section {
  .docs-top-search {
    form {
      position: relative;
      max-width: 800px;
      justify-content: space-between;

      svg {
        fill: #eee;
        position: absolute;
        top: 50%;
        left: 12px;
        display: inline-block;
        cursor: pointer;
        transform: translateY(-50%);
      }

      button {
        display: none;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #7d8499;
      }
    }

    input[type="search"] {
      max-width: 70vw;
      margin: 0;
      padding: 8px 10px 8px 40px;
      border: none;
      border-radius: 8px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #7d8499;
      background-color: $docs_medium_grey;
    }

    input[type="search"] {
      max-width: 70vw;
      margin: 0;
      padding: 8px 10px 8px 40px;
      border: none;
      border-radius: 8px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #7d8499;
      background-color: $docs_medium_grey;
    }

    @media #{$desktop} {
      top: -12px;
      position: relative;
    }
  }
}
