.search-title {
  margin: 36px 0 24px;
  font-size: 34px;
  line-height: 1.24;
  letter-spacing: 0.4px;
  color: $docs_primary_black;
  font-weight: 500;

  _:-ms-lang(x),
  & {
    font-weight: 600;
  }
}

#search-results {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0 0 16px;
    display: flex;

    a {
      display: flex;

      > div {
        flex-grow: 1;
        padding: 22px 20px 24px;
        border-radius: 8px;
        background-color: #ffffff;
        border: solid 1px rgba(0, 0, 0, 0.02);
        position: relative;
        display: flex;
        align-items: flex-start;
        transition: transform $default-transition,
          box-shadow $default-transition;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      }

      &:hover {
        > div {
          transform: translate(0, -4px);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
        }
      }
    }

    .icon {
      padding: 4px 20px 6px 0;
      flex-shrink: 0;

      img {
        width: 20px;
        height: 20px;

        @media #{$tablet} {
          width: auto;
          height: auto;
        }
      }
    }

    h4 {
      margin: 0 0 4px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      color: $docs_primary_black;

      _:-ms-lang(x),
      & {
        font-weight: 600;
      }
    }

    p {
      line-height: 24px;
      padding: 0;
      margin: 0;
      font-size: 15px;
      color: $docs_primary_black;
      text-align: left;
    }

    .label {
      display: inline-block;
      padding: 3px 9px;
      font-size: 12px;
      line-height: 20px;
      color: #ffffff;
      border-radius: 4px;

      &.sometag {
        background-color: $docs_highlight_1;
      }
    }
  }
}

#search-query {
  font-weight: 500;

  _:-ms-lang(x),
  & {
    font-weight: 600;
  }
}
