$accent-color: #f05;

a {
  color: $accent-color;
}

.override-color-set {
  color: $accent-color !important;
}

.tutorial-main a {
  color: $accent-color;
}

.tutorial-content ul li:before {
  color: $accent-color;
}

.copy-code .codeblock-btn {
  color: $accent-color;

  svg g path.main {
    fill: $accent-color;
  }
}

.sidebar {
  .active {
    .sidebar-h3 {
      color: $accent-color;
    }
    svg .main {
      fill: $accent-color;
    }
  }

  li:hover {
    a.sidebar-h3 {
      color: $accent-color;
    }
    svg .main {
      fill: $accent-color;
    }
  }

  .dropdown svg .main {
    fill: $accent-color;
  }
}

.feedback {
  .buttons button.yes:hover {
    background-color: $accent-color;
  }

  .textarea {
    border-bottom-color: $accent-color;
  }

  .options button {
    color: $accent-color;
  }
}
