/*
.top {
  padding: 12px 16px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #691FA9;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  position: relative;
  text-align: left;

  &.visible {
    display: flex;
  }

  a {
    color: #F98BFE;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    padding-right: 32px;

    @media #{$mid-point} {
      padding-right: 0;
    }
  }

  .close {
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
*/