.count {
  color: $light-grey;
  font-size: 0.7em;
  position: relative;
  top: -2px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 0.9em;

  h3 {
    font-size: 2.75rem;
    margin-bottom: 20px;
  }
}

.category {
  flex: 0 0 100%;

  a {
    color: $primary-color;
  }

  h3 {
    text-transform: capitalize;
  }

  @media #{$mid-point} {
    flex: 0 0 50%;
  }

  @media #{$desktop} {
    flex: 0 0 33%;
  }
  margin: 0 0 30px 0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    margin-right: 15px;
    a {
      padding: 2px 0;
      display: flex;
      font-size: 1.1em;
      align-items: center;

      svg {
        margin: 0 5px 0 0;
        fill: $link-color;
        width: 25px;
        height: 25px;
        transition: all 0.2s ease;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.main-container {
  position: relative;
  width: 100%;
}

.top-section {
  flex: 1 0 100%;

  @media #{$desktop} {
    // height: 160px;
  }

  // margin-top: 24px;

  // padding-bottom: 16px;
  @media #{$desktop} {
    // padding-bottom: 32px;
  }

  border-bottom: 1px solid rgba(125, 132, 153, 0.24);

  .back-to-docs {
    font-weight: bold;
    display: block;
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

    @media #{$mid-point} {
      margin: 0 0 16px;
    }

    svg {
      height: 14px;
      margin-top: -4px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .title-search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.25s ease;

    @media #{$mid-point} {
      flex-direction: row;
      align-items: center;
    }

    &.sticky {
      @media #{$mid-point} {
        position: fixed;
        top: 4px;
        left: calc(15px + 60px);
        width: calc(100% - 15px - 60px - 28px);
        z-index: 9999;
        transition: all 0.25s ease;

        h1 {
          margin: 0;
          font-size: 32px;
          transition: font-size 0.25s ease;
        }
      }
    }
  }

  h1 {
    margin: 0 0 64px;
    font-size: 56px;
    line-height: 60px;
    transition: font-size 0.25 ease;
    color: $docs_primary_black;

    @media #{$mid-point} {
      margin: 0 0 32px;
    }
  }

  .post-top-search {
    display: none;
    top: -11px;
    position: relative;

    @media #{$desktop} {
      display: block;
    }

    form {
      position: relative;
      max-width: 800px;
      justify-content: space-between;

      svg {
        fill: #eee;
        position: absolute;
        top: 50%;
        left: 12px;
        display: inline-block;
        cursor: pointer;
        transform: translateY(-50%);
      }

      button {
        display: none;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #7d8499;
      }
    }

    input[type="search"] {
      max-width: 70vw;
      margin: 0;
      padding: 8px 10px 8px 40px;
      border: none;
      border-radius: 8px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #7d8499;
      background-color: $docs_medium_grey;
    }

    input[type="search"] {
      max-width: 70vw;
      margin: 0;
      padding: 8px 10px 8px 40px;
      border: none;
      border-radius: 8px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #7d8499;
      background-color: $docs_medium_grey;
    }
  }
}

.index-trigger {
  font-weight: bold;
  display: flex;
  align-items: center;
  @media #{$desktop} {
    margin: 0 0 16px;
  }
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  @media #{$desktop} {
    display: none;
  }

  > svg {
    margin-right: 6px;
  }
}

.tutorial {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media #{$mid-point} {
    flex-direction: row;
  }

  .tutorial-content {
    h2 {
      margin-top: 40px;
      font-size: 22px;
      line-height: 32px;
      color: $docs_primary_black;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: $docs_primary_black;
    }

    ul {
      padding: 0;
      margin: 20px 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 1.6em;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.3px;
        color: $docs_primary_black;

        &:before {
          content: "•";
          position: absolute;
          top: -1px;
          left: 3px;
          color: #f04;
          font-size: 1.6em;
        }
      }
    }
  }

  // .tutorial-main {
  //   // @media #{$mid-point} {
  //   //   padding-top: 32px;
  //   //   padding-top: 16px;
  //   // }
  // }

  .tutorial-main {
    color: #0d0d17;

    h1 {
      font-size: 34px;
      line-height: 1.24;
      letter-spacing: 0.4px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      margin: 44px 0 8px;
    }

    h2 {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: 0.3px;
      margin: 44px 0 4px;
    }

    ol {
      padding: 0;
    }

    li {
      font-size: 15px;
    }

    strong {
      font-weight: 500;
    }

    p {
      font-size: 15px;
      line-height: 1.6;
    }

    a {
      color: #ff0044;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .header-link {
      color: #ccc;
      text-decoration: none;
    }
  }

  .tutorial-main:first-child {
    margin-top: 32px;

    @media #{$desktop} {
      margin-top: 56px;
    }
  }

  .tutorial-content {
    width: 100%;

    @media #{$desktop} {
      margin-left: auto;
      max-width: 760px;
    }
  }
}

.sidebar {
  display: none;
  padding: 56px 20px 0 0;
  position: absolute;
  width: 200px;

  @media #{$desktop} {
    display: block;
    width: 220px;
    padding: 56px 0 0 0;
  }

  .sidebar-h3 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #0a0f1f;
    margin-bottom: 16px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin: 0 0 15px 0;
    }
  }

  a {
    display: block;
    text-decoration: none;
    -webkit-transition: transform 0.2s ease;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #7d8499;

    &.active {
      color: #000;
      font-weight: bold;
      // transform: translateX(10px);
    }
  }
}

.listing {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: wrap;

  li {
    margin: 10px 0;
    padding: 0;
    width: 100%;
    @media #{$mid-point} {
      flex: 0 0 50%;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.3em;
  }

  a {
    display: flex;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    height: 100%;

    article {
      align-items: center;
      flex-wrap: wrap;
    }

    .icon {
      flex: 0 0 50px;
      display: flex;
      align-items: center;
      padding: 0 5px 0 0;
      svg {
        width: 35px;
        height: 35px;
        fill: $link-color;
        margin: 0 auto;
      }
    }

    .length {
      color: $light-grey;
      font-size: 0.8em;
    }

    &:hover {
      svg {
        fill: $link-hover-color;
        width: 40px;
        height: 40px;
      }
    }

    p {
      margin: 5px 0 0 0;
      color: #888;
      font-size: 0.9em;
      line-height: 1.4em;
      width: 100%;
    }
  }
}

.tutorial-share {
  a {
    color: $medium-grey;
    text-decoration: none;
    margin-right: 10px;

    &:hover {
      color: $dark-grey;

      svg {
        fill: $dark-grey;
      }
    }
  }

  svg {
    fill: $medium-grey;
    position: relative;
    top: 5px;
    width: 20px;
  }
}

.sharing {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 10px 0 0 0;
    }

    svg {
      background-color: black;
      fill: #fff;
      padding: 6px;
      border-radius: 3px;
      margin: 0 10px 0 0;
      transition: border-radius 200ms ease-in;

      &.email {
        background-color: #ff9d09;
      }

      &.facebook {
        background-color: #3b5998;
      }

      &.twitter {
        background-color: #55acee;
      }

      &.google-plus {
        background-color: #db4437;
      }

      &.youtube {
        background-color: #cd201f;
      }

      &.instagram {
        background-color: #f167f5;
      }

      &.linkedin {
        background-color: #0077b5;
      }

      &.pinterest {
        background-color: #bd081c;
      }

      &.hacker-news {
        background-color: #ff6600;
      }

      &.designer-news {
        background-color: #2d72d9;
      }
    }
  }

  a {
    text-decoration: none;
    padding: 3px 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: #666;

    &:hover {
      color: #111;
    }
  }
}

.bottom-navigation {
  padding: 80px 0;
  background-color: $docs_medium_grey;

  @media #{$mid-point} {
    padding: 64px 0;
  }

  .wrapper {
    margin: 0 auto;
    @media #{$mid-point} {
      display: flex;
      justify-content: space-between;
    }
  }

  .next {
    width: 50%;

    padding-bottom: 80px;

    h2 {
      margin: 0 0 20px;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: $docs_bright_pink;
    }

    a {
      display: flex;
      flex-direction: column;
    }

    h3 {
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #0a0f1f;
      margin: 0;
      color: $docs_primary_black;
    }

    p {
      margin: 0;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.53;
      letter-spacing: -0.4px;
      color: #7d8499;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  .related {
    width: 50%;
    .related-list {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    h2 {
      margin: 0 0 20px;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: $docs_orange;
    }

    h3 {
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #0a0f1f;
      margin: 0;
      color: $docs_primary_black;

      svg {
        display: inline-block;
        vertical-align: middle;
        margin-left: 12px;
        margin-top: -3px;
      }
    }

    p {
      margin: 0;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.53;
      letter-spacing: -0.4px;
      color: #7d8499;
    }
  }
}
.tutorial-series {
  ul {
    padding: 0 0 0 20px;
  }

  li:last-child a:after {
    background: none;
    height: 0;
    width: 0;
  }

  li {
    flex: 0 0 100%;
    margin: 0;

    a {
      position: relative;
      margin: 0 0 20px 0;
      &:before {
        content: "\25BA";
        position: absolute;
        display: block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -23px;
        color: #e0e0e0;
        z-index: 1;
      }

      &:after {
        content: "";
        display: block;
        left: -22px;
        background: #e0e0e0;
        position: absolute;
        bottom: -43px;
        width: 2px;
        top: 39px;
      }
    }

    &.active a:before {
      color: $medium-grey;
    }
  }

  h4 {
    margin: 0;
  }
}

.resources {
  background: #fafafa;
  padding: 15px;
  border: 1px solid #eee;
  border-top: 0;
  margin: 0 0 30px 0;
  h3 {
    margin-top: 0;
  }

  ul {
    margin: 0;
  }

  li {
    margin: 0;
  }
}
