html {
  font-size: 1em;
  -webkit-text-size-adjust: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: #90949c;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  font-weight: 500;

  _:-ms-lang(x),
  & {
    font-weight: 600;
  }
}

h1 {
  /* margin-top: 0; */
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  // font-size: 1.2em;
  font-size: 17px;
}

small,
.font_small {
  font-size: 0.833em;
}

p {
  font-weight: $text-font-weight;
  margin: 0 0 $base-spacing;
}

.lead {
  font-size: 1rem;
  font-weight: 300;
  float: right;
  text-align: right;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0 16px;
  margin: 16px 0 16px 6px;
  color: $medium-grey;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background: rgba(92, 92, 110, 0.2);
    left: 0px;
    border-radius: 4px;
  }
}

strong {
  font-weight: 500;

  _:-ms-lang(x),
  & {
    font-weight: 600;
  }
}

em {
  font-style: italic;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-left: 1.2em;
  margin-bottom: $base-spacing;
  font-weight: $text-font-weight;
  list-style-position: outside;
  list-style-image: none;
}

.highlighter-rouge {
  margin: 0;
  padding: 0 !important;
  font-size: 14px;
  line-height: 19px;

  font-family: $monospace-font-family;

  code {
    display: block;
  }

  pre {
    padding: ($small-spacing / 2) $small-spacing;
    margin: 0;
    white-space: pre;

    margin-bottom: 0;
    word-break: inherit;
    word-wrap: inherit;
    background-color: white;
    border: none;

    &,
    code {
      font-family: $monospace-font-family;
      color: $base-font-color;
    }

    code {
      padding: $base-spacing;
      background: $white-color;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      border-radius: 8px 8px 0 0;
    }
  }

  .highlight {
    margin: $base-spacing 0;
    padding: 0;
    border-radius: 8px;
    border: 1px solid rgba(92, 92, 110, 0.16);
    overflow: hidden;

    .light-theme {
      margin: 0;
      padding: 0;
    }

    .c {
      color: #998;
      font-style: italic;
    } // Comment
    // .err {
    //   color: #a61717;
    //   background-color: #e3d2d2;
    // } // Error
    .k {
      font-weight: bold;
    } // Keyword
    .o {
      font-weight: bold;
    } // Operator
    .cm {
      color: #998;
      font-style: italic;
    } // Comment.Multiline
    .cp {
      color: #999;
      font-weight: bold;
    } // Comment.Preproc
    .c1 {
      color: #998;
      font-style: italic;
    } // Comment.Single
    .cs {
      color: #999;
      font-weight: bold;
      font-style: italic;
    } // Comment.Special
    .gd {
      color: #000;
      background-color: #fdd;
    } // Generic.Deleted
    .gd .x {
      color: #000;
      background-color: #faa;
    } // Generic.Deleted.Specific
    .ge {
      font-style: italic;
    } // Generic.Emph
    .gr {
      color: #a00;
    } // Generic.Error
    .gh {
      color: #999;
    } // Generic.Heading
    .gi {
      color: #000;
      background-color: #dfd;
    } // Generic.Inserted
    .gi .x {
      color: #000;
      background-color: #afa;
    } // Generic.Inserted.Specific
    .go {
      color: #888;
    } // Generic.Output
    .gp {
      color: #555;
    } // Generic.Prompt
    .gs {
      font-weight: bold;
    } // Generic.Strong
    .gu {
      color: #aaa;
    } // Generic.Subheading
    .gt {
      color: #a00;
    } // Generic.Traceback
    .kc {
      font-weight: bold;
    } // Keyword.Constant
    .kd {
      font-weight: bold;
    } // Keyword.Declaration
    .kp {
      font-weight: bold;
    } // Keyword.Pseudo
    .kr {
      font-weight: bold;
    } // Keyword.Reserved
    .kt {
      color: #458;
      font-weight: bold;
    } // Keyword.Type
    .m {
      color: #005cc5;
    } // Literal.Number
    .s {
      color: #d14;
    } // Literal.String
    .na {
      color: #6f42c1;
    } // Name.Attribute
    .nb {
      color: #0086b3;
    } // Name.Builtin
    .nc {
      color: #458;
      font-weight: bold;
    } // Name.Class
    .nd {
      color: #458;
      font-weight: bold;
    } // Name.Declaration
    .no {
      color: #008080;
    } // Name.Constant
    .ni {
      color: #800080;
    } // Name.Entity
    .ne {
      color: #900;
      font-weight: bold;
    } // Name.Exception
    .nf {
      color: #900;
      font-weight: bold;
    } // Name.Function
    .nn {
      color: #555;
    } // Name.Namespace
    .nt {
      color: #005cc5;
    } // Name.Tag
    .nv {
      color: #008080;
    } // Name.Variable
    .nx {
      color: #000;
    } // Name.Other
    .ow {
      font-weight: bold;
    } // Operator.Word
    .w {
      color: #bbb;
    } // Text.Whitespace
    .mf {
      color: #005cc5;
    } // Literal.Number.Float
    .mh {
      color: #005cc5;
    } // Literal.Number.Hex
    .mi {
      color: #005cc5;
    } // Literal.Number.Integer
    .mo {
      color: #005cc5;
    } // Literal.Number.Oct
    .sb {
      color: #d14;
    } // Literal.String.Backtick
    .sc {
      color: #d14;
    } // Literal.String.Char
    .sd {
      color: #d14;
    } // Literal.String.Doc
    .s2 {
      color: #d14;
    } // Literal.String.Double
    .se {
      color: #d14;
    } // Literal.String.Escape
    .sh {
      color: #d14;
    } // Literal.String.Heredoc
    .si {
      color: #d14;
    } // Literal.String.Interpol
    .sx {
      color: #d14;
    } // Literal.String.Other
    .sr {
      color: #009926;
    } // Literal.String.Regex
    .s1 {
      color: #d14;
    } // Literal.String.Single
    .ss {
      color: #990073;
    } // Literal.String.Symbol
    .p {
      color: #000;
    } // Punct
    .bp {
      color: #999;
    } // Name.Builtin.Pseudo
    .vc {
      color: #008080;
    } // Name.Variable.Class
    .vg {
      color: #008080;
    } // Name.Variable.Global
    .vi {
      color: #008080;
    } // Name.Variable.Instance
    .il {
      color: #099;
    } // Literal.Number.Integer.Long
  }
}

code.highlighter-rouge {
  display: inline-block;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  padding: 1px 0.4em !important;
}
