$default-transition: 250ms ease;

// Breakpoints
$tablet: "(min-width: 450px)";
$mobile-landscape: "(min-width: 568px)";
$mid-point: "(min-width: 750px)";
$tablet-landscape: "(min-width: 1024px)";
$desktop: "(min-width: 1096px)";

// Colors
// Colors

$primary-color: #4b4f56;
$white-color: #fff;
$black-color: #000;
$blue-color: #4080ff;
$dark-gray-color: #333;
$dark-grey: #16141a;
$medium-grey: #777;
$light-grey: #ccc;
$header-color: rgba(255, 255, 255, 0.98);

$action-color: #f05;

//Redesign Colors
$docs_primary_black: #0a0f1f;
$docs_medium_grey: #f2f3f5;
$docs_bright_pink: #eb85ff;
$docs_orange: #ff9f85;

//Highlight Colors:
$docs_highlight_1: #ffd2de;
$docs_highlight_2: #eb85ff;
$docs_highlight_3: #d2e7ff;
$docs_highlight_4: #d5d2ff;
$docs_highlight_5: #ffe8d2;
$docs_highlight_6: #ffdbd1;

// Typography
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;
$monospace-font-family: "SF Mono", Menlo, Monaco, Consolas, Lucida Console,
  Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
  monospace, serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$text-font-weight: normal;

// Line height
$base-line-height: 1.45;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0.52em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: #16141a;

// Animations
$base-duration: 150ms;
$base-timing: ease;

$link-color: #4a4a4a;
$link-hover-color: #111;

// Border
$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fcfcfc;
$secondary-background-color: tint($base-border-color, 80%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-color, 0.06);
$form-box-shadow-focus: $form-box-shadow,
  0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
