// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 1150px)";

// Colors
// Colors

$primary-color: #4B4F56;
$white-color: #fff;
$black-color: #000;
$blue-color: #4080FF;
$dark-gray-color: #333;
$dark-grey: #222;
$medium-grey: #777;
$light-grey: #ccc;
$header-color: rgba(255,255,255,.98);

$action-color: $blue-color;

//Redesign Colors
$docs_primary_black: #0A0F1F;
$docs_medium_grey: #F2F3F5;
$docs_bright_pink:#EB85FF;
$docs_orange:#FF9F85;

//Highlight Colors:
$docs_highlight_1: #FFD2DE;
$docs_highlight_2: #eb85ff;
$docs_highlight_3: #D2E7FF;
$docs_highlight_4: #D5D2FF;
$docs_highlight_5: #FFE8D2;
$docs_highlight_6: #FFDBD1;


// Typography
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$monospace-font-family:  "SF Mono",Menlo,Monaco,Lucida Console,Liberation Mono, DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace, serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$text-font-weight: normal;

// Line height
$base-line-height: 1.45;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: .52em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;



// Font Colors
$base-font-color: #000;

// Animations
$base-duration: 150ms;
$base-timing: ease;

$link-color: #4A4A4A;
$link-hover-color: #111;

// Border
$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #FCFCFC;
$secondary-background-color: tint($base-border-color, 80%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-color, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
