---
layout: default
---
<div class="tutorial {{ page.set }} wrapper post-wrapper">

  <section class="main-container">
    {% include sidebar.html %}

    <section class="tutorial-content">
      {% if page.type == "Video" %}
        {% include youtube.html video_id=page.video_id %}
        {% if page.resources %}
          <div class="resources">
            <ul>
              {% for resource in page.resources %}
                <li><a href="{{ resource.link }}">{{ resource.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}

      <div class="tutorial-main" data-swiftype-index="true">
        <h1>{{page.title}}</h1>
        {{ content }}
      </div>

    </section>
  </section>
</div>

<script>
  var headings = document.querySelectorAll("h2[id]");

  for (var i = 0; i < headings.length; i++) {
    var anchorLink = document.createElement("a");
    anchorLink.innerText = "#";
    anchorLink.href = "#" + headings[i].id;
    anchorLink.classList.add("header-link");

    headings[i].appendChild(anchorLink);
  }
</script>

{% if page.set %}
  {% assign set_file_name = "_sets/" | append: page.set | append: ".md" %}
  {% assign set = site.sets | where: "path", set_file_name | first %}
  {% include override-color.html accent_color=set.accent_color %}
{% endif %}

{% include copy-code.html %}